<footer class="footer">
  <div class="content">
    <p>Code, Design and Content ©2015 <a href="http://www.twitter.com/captcodemonkey">Craig McCoy</a>.</p>
    <p>The opinions expressed here are those of the author and do not represent my employer.</p>
  </div>
</footer>