<div class="navigation visible">
  <ul>
    <li class="navigate-home">
      <a href="/">Craig McCoy</a>
    </li>

    <li class="sections">
      <a href="/blog" class="blog selected"><span>Blog</span></a>
    </li>

    <li class="sections">
      <a href="/portfolio" class="portfolio"><span>Portfolio</span></a>
    </li>

    <li class="sections">
      <a href="/about" class="about"><span>About</span></a>
    </li>

    <li class="sections">
      <a href="/contact" class="contact"><span>Contact</span></a>
    </li>

    <li class="navigate-page">
      <a href="#top" class="top"><span>Back to top</span></a>
    </li>
  </ul>
</div>