<section class="social">
  <ul>
    <li class="rss">
      <a href="http://feeds.feedburner.com/Andismith" target-="_blank"><i class="fa fa-rss"></i><span>RSS</span></a>
    </li>
    <li class="twitter">
      <a href="http://www.twitter.com/captcodemonkey" target-="_blank"><i class="fa fa-twitter"></i><span>@captcodemonkey</span></a>
    </li>
    <li class="contact">
      <a href="/contact" target-="_blank"><i class="fa fa-envelope-o"></i><span>Email me</span></a>
    </li>
    <li class="github">
      <a href="https://github.com/captcodemonkey" target-="_blank"><i class="fa fa-github"></i><span>captcodemonkey</span></a>
    </li>
  </ul>
</section>

<section class="content-block">
  <h1 class="aside">Latest</h1>
  <ul>
    {{#withSort navMain 'data.navOrder'}}
    {{#each this.pages}}
    <li>
      SOMETHING WORKED
    </li>
    {{/each}}
    {{/withSort}}
    {{!-- {{list posts}} --}}
    {{#if this.page.data.listPosts }}
    {{#each site.posts}}
    <li><a href="{{ this.url }}">{{ this.title }}</a></li>
    {{/each}}

    {{/if}}
  </ul>
</section>

<section class="content-block">
  <h1 class="aside">Categories</h1>
  <ul>
    <li><a href="/blog/category/conferences">Conferences</a></li>
    <li><a href="/blog/category/css">CSS</a></li>
    <li><a href="/blog/category/dev-tools">Dev Tools</a></li>
    <li><a href="/blog/category/general">General</a></li>
    <li><a href="/blog/category/javascript">JavaScript</a></li>
    <li><a href="/blog/category/jquery">jQuery</a></li>
    <li><a href="/blog/category/site">Site</a></li>
  </ul>
</section>