<section class="page-intro">

  <section class="highlights">
    <ul>
      <li class="highlight-block portfolio">
        <a href="/portfolio/2013/grunt-responsive-images">
          <h1>Responsive Images</h1>
          <p>Remove the grunt work from resizing images with this Grunt task.</p>
        </a>
      </li>
      <li class="highlight-block blog">
        <a href="http://jqueryuk.com">
          <h1>jQuery UK</h1>
          <p>I'll be speaking about optimising your Grunt and Gulp workflows - see you there!</p>
        </a>
      </li>
    </ul>
  </section>


</section>
