---
title: "Holiday gift guide recommendations"
lead: "My Holiday Gift Recommendations"
url: /blog/2015/11/holiday-gift-recommendations-by-codemonkey/
date: 2015-11-29
categories:
- personal
---

<p>I'm providing a compiliation of products that I personally own and love. I think if you try them you'll love them as well.</p>


<h2>For the techy</h2>

<h3>Raspberry Pi™ 2 Model B 1GB</h3>
<p><a target="_blank" href="http://www.mcmelectronics.com/product/83-16530"><img src="/assets/images/gifts/pibowtimber.jpg" /></a> There are many like it, but this is what mine looks like. I think this sweet timber version of the pibow case is not in production anymore, but you'll find a ton of great cases, and you can even make your own with an altoids tin if you're feeling extra frugal.
<br />The Pi 2 Model B (quad core processor) will run you: <br /><a class="price" target="_blank" href="http://www.mcmelectronics.com/product/83-16530">~$35</a> </p>
{{#markdown}}

<h3>Ducky Shine 4/5</h3>
<p><a target="_blank" href="http://www.mcmelectronics.com/product/83-16530"><img src="/assets/images/gifts/ducky4.jpg" /></a> If you work at a computer for hours a day, you are doing yourself a disservice not using a mechanical keyboard. I use both the ducky 4 and a DasKeyboard for Mac, and I like them both for different reasons. The great thing about the shine is the sweet backlighting and all the different modes you can play with. (I prefer the Cherry MX Blues) Prices are typically  <a class="price" target="_blank" href="https://mechanicalkeyboards.com/shop/index.php?l=product_list&m=1">~$165</a><br />


<h3>Das Keyboard</h3>
<p><a target="_blank" href="http://shop.daskeyboard.com/products/das-keyboard-4-professional/"><img src="/assets/images/gifts/daskeyboard.jpg" /></a>This is another great keyboard, and it was my first mechanical keyboard (I had the older version). It is one of the only keyboards with a Mac layout that you'll find, and it performs great. The built in 2 port USB hub is a great addon that I miss with my Ducky.<br />
<a class="price" target="_blank" href="http://shop.daskeyboard.com/products/das-keyboard-4-professional/">$149</a></p>

<h3>Uplift Standing Desk</h3>
<p><a target="_blank" href="http://www.thehumansolution.com/height-adjustable-sit-stand-desk.html" /><img src="/assets/images/gifts/upliftdesk.jpg" /></a>I spent months pouring over prices and specs before I settled on the Uplift. This was a big purchase for me, and I was really nervous about spending this much on a desk I might not like. I have used the desk for a year now, and I absolutely love it. They allow many customizations when placing your order (power grommits in the desk are awesome).<br />
<a class="price" target="_blank" href="http://www.thehumansolution.com/height-adjustable-sit-stand-desk.html">$599</a></p>

<h2>For the Outdoorsman</h2>
<h3>CRKT Minimalist Neck Knife</h3>
<p><a target="_blank" href="http://www.amazon.com/Columbia-River-Knife-Minimalist-2387/dp/B0030IT76C" /><img src="/assets/images/gifts/knife.jpg" /></a>I like knives. You won't find a more useful or more comfortable knife at this price point. It feels great in the hand, holds an edge well, and comes in a few different blade shapes.<br /><a class="price" target="_blank" href="http://www.amazon.com/Columbia-River-Knife-Minimalist-2387/dp/B0030IT76C" />$35</a></p>

<h3>Numyth Tohil v2 Watertight Lighter</h3>
<p><a target="_blank" href="http://goinggear.com/numyth-tohil-v2-watertight-fluid-lighter.html" /><img src="/assets/images/gifts/tohil.jpg" /></a>You should always have a way to start fire on you, and what I love about this little keychain lighter is that it is water tight, which means the fluid won't evaporate. I filled mine up 6 months ago and have used it several times and it is still going, and if you have ever carried a zippo you know how fast they can lose their fluid to evaporation. The fit and finish of this is amazing machined aluminum. <br /><a class="price" target="_blank" href="http://goinggear.com/numyth-tohil-v2-watertight-fluid-lighter.html" />$24</a></p>

<h3>Thorfire Tactical Penlight</h3>
<p><a target="_blank" href="http://www.amazon.com/gp/product/B00MFH50OW?psc=1&redirect=true&ref_=oh_aui_detailpage_o02_s00" /><img src="/assets/images/gifts/thorfire.jpg" /></a>This is a great pocket light that runs on a single AAA battery. I have a couple of these, and for the price you won't find anything better. It feels substantial, and I like the tactial bezel and removable pocket clip. <br /><a class="price" target="_blank" href="http://www.amazon.com/gp/product/B00MFH50OW?psc=1&redirect=true&ref_=oh_aui_detailpage_o02_s00" />$16</a></p>

<h2>For Everyone</h2>
<h3>Aeropress Coffee Maker</h3>
<p><a target="_blank" href="http://www.amazon.com/Aeropress-Coffee-and-Espresso-Maker/dp/B0047BIWSK/ref=sr_1_1?s=kitchen&ie=UTF8&qid=1448845617&sr=1-1&keywords=aeropress" /><img src="/assets/images/gifts/aeropress.jpg" /></a>I became a coffee snob this year, and this can be your first step to better coffee. You'll want a nice grinder and always use whole beans (try to find a local roaster if you can). This thing can make a great cup of coffee, is quick to clean, and cheap.<br /><a class="price" target="_blank" href="http://www.amazon.com/Aeropress-Coffee-and-Espresso-Maker/dp/B0047BIWSK/ref=sr_1_1?s=kitchen&ie=UTF8&qid=1448845617&sr=1-1&keywords=aeropress" />$30</a></p>

{{/markdown}}