.list-reset {
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
  list-style: none;
  list-style-type: none;
  list-style-image: none;

  li {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
  }
}

.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}