<div class="page-header wrapper">
  <div class="container">
    <div class="box-out content-block">
      <h1>Hello</h1>
      <p><strong>Craig McCoy</strong> [insert witty descriptive sentence here].</p><p>This is his site.</p>
    </div>
  </div>
</div>
