<section class="page-intro">

  {{#if page.home }}
  <section class="highlights">
    <ul>
      <li class="highlight-block blog">
        <a href="/blog/2015/04/redesign-in-assembleio/">
          <h1>New Site</h1>
          <p>New site build using assemble.io & inspired by Andi Smith</p>
        </a>
      </li>
      <li class="highlight-block blog">
        <a href="#">
          <h1>Grunt: SFTP Deploy</h1>
          <p>Check out how to setup sftp deployment tasks via grunt.</p>
        </a>
      </li>
    </ul>
  </section>
  {{/if}}


</section>
